@model PagedList.IPagedList<BooksOnDemand.Models.Book>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Books", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}


<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Authors
        </th>
        <th>
            Description
        </th>
        <th>
            Publisher
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <ul>
                    @foreach (var author in item.Authors)
                    {
                        <li>@Html.DisplayFor(modelItem => author)</li>
                    }
                </ul>
            </td>
            <td>
                <div class="panel panel-default">
                    <div class="panel-body">

                        @Html.DisplayFor(modelItem => item.Description)
                    </div>
                </div>
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                <input type="button" value="Demand" onclick="location.href='@Url.Action("Demand/"+item.Id.ToString(),"Books")'" />
                <br />

                <br />
                @Html.ActionLink("Details", "Details", new { id = item.Id.ToString() })

            </td>
        </tr>
    }
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
